@model Hotel_menu.ViewModel.CreateViewModel


@{
    ViewData["Title"] = "Create";
}

<form enctype="multipart/form-data" method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <h3> Add Item </h3>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="DishName"></label>
                </div>
                <div class="col-6">
                    <input type="text" asp-for="DishName" placeholder="Name" />
                    <span asp-validation-for="DishName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="Category"></label>
                </div>
                <div class="col-6">
                    <input type="text" asp-for="Category" placeholder="Hired Date" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-6">
                    <input type="text" asp-for="Description" placeholder="Hired Date" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="  Photo" class="col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label"> Choose File </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <input type="submit" class="btn btn-info w-50" />
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-danger w-50"> Back </a>
                </div>
            </div>
        </div>
    </div>

    @section Scripts
    {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }

</form>

@*@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}*@

